@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    background-image: url(./backg.jpg);
    min-height : 100vh;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
